{{ form_start(form) }}
<div class="row">
    <div class="col">
{{ form_widget(form.content) }}
    </div>
    <div class="col">
<button class="btn btn-primary">Add</button>
    </div>
</div>
{{ form_end(form) }}